html , body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif,tahoma;
}
.container{
    width: 1000 px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* -------------------------------------------------------- */
#section_header_2_dark{
    background-color: rgb(51,51,51);
    height: 96px;
    
}
#section_header_2_dark .container{
    margin-left: 230px
}
#section_header_2_dark .containerss{
    display: flex;
}
#section_header_2_dark .navbar-header img{
    height: 30px;
}
#section_header_2_dark .containerss .navbar-header{
    margin-top: 25px;
}
#section_header_2_dark #navbar-collapse-02 a{
    color: rgb(204,204,204);
}
#section_header_2_dark #navbar-collapse-02 .navbar-right{
    display: flex;
    margin-left: 350px;
    gap: 43px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 32px;
}

#section_header_2_dark #navbar-collapse-02 .icon-item{
    margin-right: -20px;
}
#section_header_2_dark #navbar-collapse-02 .text_span{
    color: rgb(255,204,51);
}
/* ------------------------------------------------------------------- */
#section_pix_4{
    background-color: antiquewhite;
}
#section_pix_4 .mask .section_video{

    position :absolute;
}
#section_pix_4 .mask .section_video{
    display: inline-block;
    margin-left: 100px;
}
#section_pix_4 .mask .bgvid source{
    display: inline-block;
    margin-left: 100px;
}
#section_pix_4 .clearfix{
    position: relative;
}
/* ------------------------------------------------------------------- */

#section_university_5 .container{
    margin-left: 290px;
    margin-right: 300px;

}
#section_university_5 .container .sixteen{
    display: flex;
}

#section_university_5 .alpha .icon_st{
}
#section_university_5 .alpha .icon_st img{
    height: 100px;
    margin-right: 40px;
 }
#section_university_5 .alpha{
    margin-top: 120px;
    margin-right: 30px;
}
#section_university_5 .alpha .psingle_item{
    display: flex;
    margin-bottom: 10px;
}
#section_university_5 .alpha .title_st{
    font-size: 20px;
    margin-bottom: 5px;
    /*font-weight: bold;*/
}
#section_university_5 .alpha .subject_st{
    font-size: 16px;
    font-weight: lighter;
    color: rgb(189,189,189);
    width: 380px;
}

#section_university_5 .omega .pix_builder_bg{
    background-color: rgb(235,234,234);
    height: 500px;
    width: 427px;
    margin-top: 50px;
    padding-top: 60px;  
    margin-bottom: 70px;
}
#section_university_5 .omega .title-style .pix_text{
    font-size: 24px;
}
#section_university_5 .omega .text-style .pix_text{
    color: rgb(189,189,189);
    font-size: 16px;
}
#section_university_5 .omega #contact_form{
    display: grid;
    height: 500px;
}
#section_university_5 .omega #contact_form{
    display: grid;
    height: 400px;
}#section_university_5 .omega .pix_text{
    height: 53px;
    width:390px;
    margin-left: 15px;
 }

#section_university_5 .omega .pix_text::placeholder{
    font-size: 15px;
}
#section_university_5 .omega .submit_btn{
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: rgb(124,197,118);
    color: white;
}
/* ----------------------------------------------------------------- */
#section_ecourse_7{
    background-color: rgb(235, 235, 235);
}

#section_ecourse_7 .bg_foot{
    color: rgb( 174,174,174);
    display: flex;
    gap : 280px;
    align-items: center;
    margin-left: 160px;
}
#section_ecourse_7 .pixfort_st{
    color: rgb(98, 61, 145);
    font-weight: bold;
}
#section_ecourse_7 .socbuttons{
    display: flex;
    align-items: center;
}
#section_ecourse_7 .socbuttons .bottom-icons{
    display: flex;
    gap: 20px;
    background-color:rgb(219, 219, 219);
    width: 130px;
    height: 48px;
    align-items: center;
    margin-left: 40px;
}